flows.json
[{"id":"232dc7c9.6c5c78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66275bb2.35b944","type":"ui_form","z":"232dc7c9.6c5c78","name":"","label":"","group":"c2f1b380.d446f","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":130,"y":140,"wires":[["b42da93e.ff0428","6e781bba.afba04"]]},{"id":"b42da93e.ff0428","type":"debug","z":"232dc7c9.6c5c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"6e781bba.afba04","type":"function","z":"232dc7c9.6c5c78","name":"","func":"msg.payload={\n    _id:msg.payload.Email,\n    Name:msg.payload.Name,\n    Emailid:msg.payload.Email,\n    Password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["2875be7.39c4d42"]]},{"id":"2875be7.39c4d42","type":"cloudant out","z":"232dc7c9.6c5c78","name":"sample","cloudant":"","database":"sample","service":"node-red-eukzf-2020--cloudant-1597405138149-39229","payonly":true,"operation":"insert","x":520,"y":140,"wires":[]},{"id":"2a9417b.12356e8","type":"ui_form","z":"232dc7c9.6c5c78","name":"","label":"","group":"4d10a84a.59fae8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Email":"","Password":""},"payload":"","submit":"login","cancel":"cancel","topic":"","x":140,"y":320,"wires":[["c5a2804c.c94a5"]]},{"id":"c5a2804c.c94a5","type":"function","z":"232dc7c9.6c5c78","name":"","func":"msg.payload={\n    _id:msg.payload.Email,\n    Emailid:msg.payload.Email,\n    Password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["8f07f1.0dda181"]]},{"id":"8f07f1.0dda181","type":"function","z":"232dc7c9.6c5c78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["78552453.5a330c"]]},{"id":"78552453.5a330c","type":"cloudant in","z":"232dc7c9.6c5c78","name":"sample","cloudant":"","database":"sample","service":"node-red-eukzf-2020--cloudant-1597405138149-39229","search":"_id_","design":"","index":"","x":670,"y":320,"wires":[["2ada40c.e59b9c"]]},{"id":"2ada40c.e59b9c","type":"function","z":"232dc7c9.6c5c78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":420,"wires":[["ce3dd767.6b9808"]]},{"id":"ce3dd767.6b9808","type":"ui_text","z":"232dc7c9.6c5c78","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":420,"wires":[]},{"id":"83a22108.b165c","type":"ui_form","z":"232dc7c9.6c5c78","name":"","label":"","group":"1ff7ca21.f774b6","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":720,"wires":[["4f59acd.b694554"]]},{"id":"4f59acd.b694554","type":"function","z":"232dc7c9.6c5c78","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":720,"wires":[["c1e77e9d.3fb6a"]]},{"id":"c1e77e9d.3fb6a","type":"watson-conversation-v1","z":"232dc7c9.6c5c78","name":"","workspaceid":"d229565b-aa49-4c07-bce8-86474aaaf46f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/150b183e-a093-480e-908e-f5a5c6a7d81b","timeout":"","optout-learning":false,"x":400,"y":720,"wires":[["223592cd.16fcee","ee279355.e8f18"]]},{"id":"223592cd.16fcee","type":"debug","z":"232dc7c9.6c5c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":600,"wires":[]},{"id":"ee279355.e8f18","type":"function","z":"232dc7c9.6c5c78","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":720,"wires":[["13fb595b.a6ac07"]]},{"id":"13fb595b.a6ac07","type":"ui_text","z":"232dc7c9.6c5c78","group":"c2f1b380.d446f","order":1,"width":0,"height":0,"name":"Bot responds","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":720,"wires":[]},{"id":"c2f1b380.d446f","type":"ui_group","z":"","name":"Reg Form","tab":"ff792b73.ea9f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d10a84a.59fae8","type":"ui_group","z":"","name":"Login","tab":"62d9e868.8869f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ff7ca21.f774b6","type":"ui_group","z":"","name":"Bot","tab":"655e45fd.cdb03c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff792b73.ea9f88","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"62d9e868.8869f8","type":"ui_tab","z":"","name":"Login Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"655e45fd.cdb03c","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]